<h1>{{single_movie.Title}}</h1>

<h4>Starring: {{single_movie.Actors}}</h4>
<br>
<h4>{{single_movie.Plot}}</h4>
<br>
<img src="{{single_movie.Poster}}" alt="" />
<br>
<h2>Additional Information</h2>
<br>
<h4>Awards <br> {{single_movie.Actors}}</h4>
<h4>Country <br> {{single_movie.Country}}</h4>
<h4>Director <br> {{single_movie.Director}}</h4>
<h4>Genre <br> {{single_movie.Genre}}</h4>
<h4>Language <br> {{single_movie.Language}}</h4>
<h4>Metascore <br> {{single_movie.Metascore}}</h4>
<h4>Rated <br> {{single_movie.Rated}}</h4>
<h4>Released <br> {{single_movie.Released}}</h4>
<h4>Runtime <br> {{single_movie.Runtime}}</h4>
<h4>Writter <br> {{single_movie.Writter}}</h4>
<h4>Year <br> {{single_movie.Year}}</h4>
<h4>imdbRating <br> {{single_movie.imdbRating}}</h4>
<h4>imdbVotes <br> {{single_movie.imdbVotes}}</h4>
